# Normalize line endings for all text files
* text=auto

# Explicitly declare text files you want to always normalize and convert to LF.
*.html text eol=lf
*.qmd text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.js text eol=lf
*.r text eol=lf
*.py text eol=lf
